[2021-01-16 09:14] simongottschlag opened #1 "Recursive groups for Service Principals"
Hi!

Just found this project looking through the azuread terraform provider. Great work!

I've been building a reverse proxy that allows normal users and service principals to connect to any Kubernetes API and one part of this is extracting the groups they are members of.

I'm using a pure http client to get all the groups for a service principal, but after looking at this SDK it should fit quite

[2021-01-16 09:15] simongottschlag commented on #1
I'm willing to give it a try and contribute it if it's something you would like. I'm not really good at programming, but should be able to solve it with some guidance.

[2021-01-16 15:02] simongottschlag commented on #1
After looking through the code it seems like we don't have it for users either.

To be clear, what I would like to add is the following:
- https://docs.microsoft.com/en-us/graph/api/serviceprincipal-list-transitivememberof?view=graph-rest-1.0&tabs=http
- https://docs.microsoft.com/en-us/graph/api/user-list-transitivememberof?view=graph-rest-1.0&tabs=http

I would gladly try and add these myself wi

[2021-01-17 20:26] manicminer commented on #1
Hi @simongottschlag, thanks for requesting! I won't have time to add this for a week or two, but in the meantime I'm more than happy to accept contributions. This would be a really useful feature.

The long term goal is to have as much API coverage as possible, particularly as it's doubtful at this point that the official Azure Go SDK will ever receive MS Graph support.

I added some auth & client

[2021-01-18 22:03] simongottschlag commented on #1
@manicminer I've created a first pull request for the user client: https://github.com/manicminer/hamilton/pull/5

[2021-01-18 23:08] simongottschlag opened #6 "Pagination"
Hi!

When using List and methods like it, pagination will most likely be required when there are large amount of groups/users etc.

[2021-01-19 09:09] #6 closed

[2021-01-19 10:21] #1 closed

[2021-01-19 11:49] simongottschlag commented on #1
Thank you for the great work and quick response @manicminer ! :1st_place_medal:

[2021-01-19 14:39] manicminer commented on #1
No worries, feel free to send along any other additions, or raise any bugs you find 👍

[2021-01-19 15:31] simongottschlag commented on #1
@manicminer I was able to move over to your SDK in under an hour: https://github.com/XenitAB/azad-kube-proxy/pull/8

Thank you so much and I'll get back to you if I find any issues. Made my code much better using this! <3

[2021-01-26 07:23] simongottschlag opened #12 "Feature: Make scopes configurable"
Hi @manicminer!

See this as and idea / feature request.

It would be a nice feature if scopes was configurable, to make it possible to use the auth package to get access tokens for plain AAD applications.

I'm using azidentity right now for this. Would be able to slim down my dependencies to only your lib.

[2021-01-27 04:21] manicminer commented on #12
Hi @simongottschlag, thanks for requesting!

I've just merged a refactor of the auth package which exports the underlying authorizers for the client credentials flow.

Whilst the helper functions `auth.NewClientSecretAuthorizer()` and `auth.NewClientCertificateAuthorizer()` necessarily accept an `auth.Api` to determine the scopes to request, you should now be able implement these yourself if you w

[2021-01-27 18:19] simongottschlag commented on #12
Hi @manicminer! Would this work with Azure CLI and MSI auth as well?

Right now, I'm providing all three as options :)

[2021-01-27 22:05] simongottschlag opened #16 "Feature: Auth method should soft fail if no token is issued"
Hi!

It would be great if there was a soft fail for when multiple auth methods are used.

As an example, if we're not able to get a token with MSI - the next method should be tried.

I've got a similar issue with azidentity: https://github.com/Azure/azure-sdk-for-go/issues/14214

My personal opinion is that auth methods should be tried in the following order:
1. Azure CLI
2. Client secret
3. Clien

[2021-02-24 09:53] yriveiro opened #18 "Use of Resty client"
First, nice work, very easy to understand, congrats

I have a question after reading your code, Did you think about the use [resty](https://github.com/go-resty/resty)? it's a small lib for REST that will handle backoff retries and you will be able to inject the oauth2 client.

Your code will get (even more) cleaner and easy to maintain probably.

[2021-02-24 14:49] manicminer commented on #18
Thanks!

Rusty looks like a nice library, and with some features I'd definitely use, but a lot that I wouldn't. But mainly there are some things it doesn't do that are peculiar to MS Graph, such as unmarshaling error and generic odata attributes in responses. I confess I'm not entirely convinced the chained method approach to configuring a client is cleaner than struct population, but I guess that

[2021-02-24 17:56] yriveiro commented on #18
The `odata` stuff indeed needs to be handcrafted using a custom Unmarshal function like the `go-graph-sdk` does.

Regarding the chained method approach for configuration yes probably the programming language background will influence that.

Either way, the code is understandable and clean I will play a bit with it :)

[2021-02-24 17:56] #18 closed

[2021-02-24 18:15] simongottschlag opened #19 "Feature: Information about current identity"
Hi!

One thing I've been missing for a long time is to have "current user" information available easily.

Information that would be interesting:

- User Type (normal user or service principal / other?)
- Display Name
- AppID
- ObjectID

Not sure if this is actually possible, but a normal user does have information available from /me and I think some of the information should be available from the

[2021-02-24 18:45] manicminer commented on #19
One way this might be possible is by inspecting the claims in the access token and inferring some principal information from that. The populated claims do seem to be different when authorized as a service principal versus a user, but the SDK doesn't currently make any distinction as it doesn't need to.

Parsing the claims is already supported:
[code]

The `/me` endpoint is useful as you say, but o

[2021-02-24 18:55] simongottschlag commented on #19
I fully agree! Thank you 🙏

[2021-02-24 18:55] #19 closed

[2021-02-27 17:46] yriveiro opened #20 "GetMember should be rewritten to IsMember"
Reading the code of this line:
https://github.com/manicminer/hamilton/blob/aa2110f5eb5c7a17c14b947ca36c1461634920d3/clients/groups.go#L174

If I need to pass the tuple (group_id, member_id) and the return is an ID of the member, the method shouldn't be called `IsMemberOf`?

I would expect to have the full member object if I do a `GetMember`

[2021-02-27 18:23] manicminer commented on #20
Hi @yriveiro, thanks for the question! Members and owners have a bit of extra complexity because the member object is cast as a generic [DirectoryObject](https://docs.microsoft.com/en-us/graph/api/resources/directoryObject?view=graph-rest-beta) by the API - since it can be a user, a service principal, or another group. This is definitely something that can be improved on, if you have any ideas or

[2021-02-27 21:01] yriveiro commented on #20
I'm using the `GetMember` to check if an object from the Directory Object is a member of a group once the client doesn't provide it and iterate the full list of members of the group is a kinda waste of CPU cycles.

I would change this to:

[code]
And the equivalent for `IsOwnerOf` also and let `GetMember/GetOwner` return the full response from the API once has some extra info.

[2021-02-27 23:26] manicminer commented on #20
I can see a `GroupsClient.isMemberOf()` method being useful, I'll look to add that (you're also welcome to send in a PR with the version in your last comment :).

I'm planning to look at ways to implement a generic `DirectoryObjectsClient` and if that works out then I think it makes sense to hook up GroupsClient members/owners methods to work with that.

[2021-04-04 15:29] simongottschlag opened #25 "Potential token refresh issue"
Hi!

I'm using this great SDK in a proxy and after running for a few days it seems like token refresh stops working. Not sure exactly when it happens but it at least takes a few days. A restart of my proxy resolves the issue.

I have created an issue in my repo with some logs (that I think are related): https://github.com/XenitAB/azad-kube-proxy/issues/118

Not completely sure this is caused by Ha

[2021-04-08 10:10] simongottschlag commented on #25
This was most likely not caused by anything in the SDK but by a cache invalidation bug on my side: https://github.com/XenitAB/azad-kube-proxy/pull/132

Will get back if anything else comes up. I've added validation of the token to my health checks just to make sure it's restarted if something happens: https://github.com/XenitAB/azad-kube-proxy/pull/125

[2021-04-08 10:10] #25 closed

[2021-04-13 11:27] manicminer opened #29 "HTTP/2 support"

[2021-04-21 11:05] manicminer commented on #29
Not supported by MS Graph :(

[2021-04-21 11:05] #29 closed

[2021-04-21 11:28] manicminer commented on #12
@simongottschlag Sorry for the delay in replying, I missed your question! You likely worked this out already, but yes it will sort of work for MSI auth (which issues a v1 token, so you should provide a resource URL rather than a scope).

The Azure CLI, wraps the token functionality in the commandline argument `--resource-type` that only supports a limited set of values (see `az account get-access-

[2021-04-21 11:30] manicminer commented on #12
I believe this functionality exists now, would you be happy to close this issue or did I perhaps miss something? Thanks!

[2021-04-21 16:36] #12 closed

[2021-04-28 12:39] Yanson opened #36 "Feature: Support servicePrincipals appRoleAssignments"
We would like support for CRUD of service principals app role assignments.

https://docs.microsoft.com/en-us/graph/api/resources/approleassignment?view=graph-rest-1.0

This can then eventually be incorporated into the Terraform AzureAD provider to alleviate workarounds such as [this](https://github.com/hashicorp/terraform-provider-azuread/issues/164#issuecomment-725007993).

[2021-05-03 09:21] michaljirman commented on #36
@manicminer I will look into this issue. Feel free to assign it to me.

[2021-05-06 14:26] zbergus commented on #36
Good day, upon looking at the PR #39 i noticed the addition of (List/Remove/Assign)AppRoleAssignments in service principal which is awesome. Upon reading the graph documentation I noticed the Microsoft [suggests](https://docs.microsoft.com/en-us/graph/api/group-post-approleassignments?view=graph-rest-1.0&tabs=http) best practice for app role assignments is to use [AppRoleAssignedTo](https://docs.m

[2021-05-06 14:55] michaljirman commented on #36
Hi @zbergus,
thank you for your comment and contribution. You are right about using the appRoleAssignedTo method as best practice.
It is already part of the existing PR, listing the relevant functions here below:

- func (c *ServicePrincipalsClient) ListAppRoleAssignments(){}
- func (c *ServicePrincipalsClient) AssignAppRoleForResource(){}
- func (c *ServicePrincipalsClient) RemoveAppRoleAssignmen

[2021-05-06 15:22] zbergus commented on #36
hi @michaljirman I apologize!
I should have taken a look a bit more at the endpoint being used, I assumed from the method names that the other endpoints for the service principal were being used [/appRoleAssignments](https://docs.microsoft.com/en-us/graph/api/serviceprincipal-list-approleassignments?view=graph-rest-1.0&tabs=http)

Very glad to find out it is the /appRoleAssignedTo endpoint being u

[2021-05-06 20:03] michaljirman commented on #36
no worries @zbergus!
Maybe just my choice of the method names is not clear enough.

[2021-05-20 09:31] Yanson opened #47 "BUG: Create group does not chunk members/owners"
#### groups.go

As there is a limit of 20 link changes, `AddMembers` correctly splits the API calls into batches of 20. **However**, this logic is not followed when `Create` is called. This causes create group to fail when there is a combination of more than 20 owners + members.

Possible solution:

In `Create`, create the group with only owners (up to the first 20). Then use `AddOwners` to add th

[2021-05-27 15:42] manicminer commented on #47
Thanks for raising this issue @Yanson. I agree that it would be nice to wrap this complexity in the Create method so the calling client does not have to worry about chunking the members/owners when creating a group. I do think there may be some hidden gotchas to this though - mainly with owners.

If we did this (handled >20 owners by creating the group with the first 20 owners, and then calling Ad

[2021-05-27 15:44] manicminer commented on #36
This was added in #39

[2021-05-27 15:44] #36 closed

[2021-06-03 08:16] Yanson commented on #47
Thank you for your reply.

Yes, that's possible. The solution I proposed went for a balance between simplicity and capturing all edge-cases. I find it unlikely more than 20 owners would be listed. I expect either none (user is directory admin) or 1 (self). In the event the caller is not in the first 20 owners, they could rectify the situation with any of the 20 owners that were added. If you wante

[2021-06-03 11:05] manicminer commented on #47
I think this does need addressing in Terraform but the fix will likely go into the AzureAD provider, as this really is up to the implementing app to decide how they want to manage.

[2021-06-07 23:55] manicminer commented on #47
@Yanson On further thought I still believe this is best left to the calling application as they are privy to more context and will have a better picture of what's being attempted. With that in mind, I'm PRing a fix to the AzureAD Terraform provider that should resolve this in all the cases I can think of right now - see https://github.com/hashicorp/terraform-provider-azuread/pull/454

[2021-06-08 15:56] Yanson commented on #47
Thanks for supplying a Terraform provider fix - that solves our problem.

My expectation was that the fix would be here so there is consistency with the AddMembers method. As long as it's solved from a user-perspective, I don't suppose it matters how and so this issue can be closed.

Thanks again.

[2021-06-08 21:30] manicminer commented on #47
@Yanson Thanks, I'll go ahead and close this :)

[2021-06-08 21:30] #47 closed

[2021-06-29 09:41] MarkDordoy opened #73 "How best to support patching objects with Schema Extensions"
This SDK supports creating schema extensions, however it does not yet support for example adding an extensions data to an allowed object, for example a user.

Reading the [documentation/examples](https://docs.microsoft.com/en-us/graph/extensibility-schema-groups) it looks like we need to perform a patch call against the target object, however our update functions for users/groups etc requires a us

[2021-07-20 13:12] adamconnelly opened #82 "Support providing an HttpClient"
At the moment the HttpClient used isn't exported, which means it's not possible to use a custom client. Just to give some background, the reason I want to be able to do this is to provide a custom client that adds tracing of HTTP requests.

I've created a fork to quickly test out replacing the client by making it exported: https://github.com/adamconnelly/hamilton/commit/11eb20ad43b38e4f076fc212c2d

[2021-07-20 18:04] manicminer commented on #82
Hi @adamconnelly, thanks for requesting this! I've been working on a PR #78 to provide more flexibility when using `msgraph.Client{}` and have included this in that change.

Whilst the http client is now exported, so you can replace it if you wish, we're also now making use of [go-retryablehttp](https://github.com/hashicorp/go-retryablehttp) to handle request retries instead of the big for-loop in

[2021-07-21 00:53] manicminer commented on #73
Capability merged in #81

[2021-07-21 00:53] #73 closed

[2021-07-21 09:26] adamconnelly commented on #82
@manicminer that all sounds great. The approach of swapping out the client would probably be better for us for now, just because it means we can use a consistent client for all our HTTP requests, but I think both approaches could work for us.

Do you have a rough idea of when you're expecting to merge your PR? Not trying to rush you - just so I can figure out to just wait or if I need to temporari

[2021-07-21 15:19] manicminer commented on #82
@adamconnelly Will probably merge and release today - releases have generally been on Tuesdays but this week is a little late

[2021-07-21 18:32] manicminer commented on #82
Resolved with #78

[2021-07-21 18:32] #82 closed

[2021-07-22 09:52] adamconnelly commented on #82
@manicminer just wanted to say thanks - that worked perfectly. It's actually a bit better for our use-case now because we can use go-retryablehttp without having retries on 404s by default.

[2021-07-22 11:49] manicminer commented on #82
@adamconnelly Great, that's good to hear :)

Note you can also set the `DisableRetries` field to true to stop the consistency related retries, eg on 404

[2021-08-16 13:16] LalitTurbot opened #87 "`Error: ServicePrincipalsClient.BaseClient.Get(): launching Azure CLI: pipe: too many open files`"
I have around 605 service principals in my tenant.
I am calling the below function nearly concurrently for all the 605 service principals
[code]

[2021-08-16 19:34] manicminer commented on #87
Hi @LalitTurbot, thanks for reporting this. I suspect this stems from repeated invocations of az-cli in order to retrieve access tokens. To improve this, #88 adds internal caching for tokens from Azure CLI (instead of relying on the CLI caching). In the interim, perhaps you can increase your file descriptors limit (i.e. `ulimit -n`)?

[2021-08-17 10:40] #87 closed

[2021-09-01 23:15] kaovd opened #92 "EntitlementManagement - AccessPackages"
General Issue tracker for everything related to AccessPackage implementation within Identity & Governance Management. Will leave PR in draft state any comments, suggestions or contributions welcome

https://docs.microsoft.com/en-us/graph/api/resources/entitlementmanagement-root?view=graph-rest-beta

- [x] accessPackage
- [x] accessPackageAssignmentPolicy
- [x] accessPackageCatalog
- [x] accessPack

[2021-09-04 16:27] kaovd commented on #92
@manicminer Could you potentially give some of this a  glance on in the draft PR? The first three endpoints are pretty straightforward CRUD, but "accessPackageResourceRequest" endpoint only has List and Create availiable where having some workaround implementation on the SDK would be needed. Specifically take a look at accesspackageresourcerequest.go - In order to delete you need to POST as if it

[2021-09-10 14:34] kaovd commented on #92
@petr-stupka Thanks this is extremely useful, understood requests are non standard and have a pseduo delete using admin remove. Have pretty much done exactly what youve said if you look at the PR

 Mustve looked over the execute immediately option - Will add, @manicminer will leave Consistency func in but should shorten time if we are OK to hardcore that? No idea why wouldnt be always on.

Elsewis

[2021-09-10 14:50] petr-stupka commented on #92
@kaovd pls don't take me wrong if i say something what is already in, i need to dig in your PR to have full understanding. We have PowerShell script for that and i spend some time to understand the dependencies and the process so i'm happy to try to explain questions you may have to be able to complete it or help with some development. So will give you info about the RoleScopes asap

[2021-09-10 14:59] kaovd commented on #92
Thanks, interested to see potential implementations

[2021-09-10 16:59] petr-stupka commented on #92
## Documentation

For the development I used two documentation as both of them missing some important information and reference

MS Graph: https://docs.microsoft.com/en-us/graph/api/resources/entitlementmanagement-root?view=graph-rest-beta

Powershell: https://docs.microsoft.com/en-us/powershell/module/microsoft.graph.identity.governance/?view=graph-powershell-beta

Powershell cmdlets have `BodyPa

[2021-09-12 17:07] kaovd commented on #92
After a bit of battling and looking at requests in Azure Portal itself, I've finally figured out where in the world some of these endpoints actually are.

The RoleScope DELETE endpoint is not documented, however as you mentioned @petr-stupka it is in Ms Graph Powershell Beta, only problem is its not implemented properly there as it does not work

![image](https://user-images.githubusercontent.com/

[2021-09-12 19:57] petr-stupka commented on #92
Yeah, the PowerShell module is full of bugs (first release). Many cmdlet's often reference v1 instead of beta or have other bugs in it.

I think you right with the endpoint .. let's check thatin Microsoft Graph metadata instead of searching MS Docs: https://raw.githubusercontent.com/microsoftgraph/msgraph-metadata/master/openapi/beta/openapi.yaml

search for this operation:
`identityGovernance.ent

[2021-09-15 08:33] petr-stupka commented on #92
Hi @kaovd had you chance to test it. I'm interested if the Graph Metadata can be used as reliable source. Btw, if I can help with any part of the development, please let me know

[2021-09-15 08:57] kaovd commented on #92
@petr-stupka some reason git didnt notify me on the thread just seen this, will test again today

[2021-09-15 21:39] kaovd commented on #92
@petr-stupka It dosen't seem the endpoints actually exist - as mentioned the closest thing I got was what the portal throws back which is at  DELETE /identityGovernance/entitlementManagement/accessPackages/{id}/accessPackageResourceRoleScopes but takes a request body in the delete for some reason - even structing it perfectly though this does not work and throws and argument error.

Your welcome t

[2021-09-16 00:16] amarbut24 opened #104 "Identity Governance - Access Reviews"
Running into an issue attempting to interact with `/identityGovernance/accessReviews/definitions`

[code]

The response I get back is
`"could not read response body: http: read on closed response body"`

Did some digging with the help of @MarkDordoy
And found what we believe is the source of the issue

When performing this call via https://developer.microsoft.com/
Below is an example response (som

[2021-09-16 08:10] petr-stupka commented on #92
Hi @kaovd I'm not sure how they doing it in the portal as seems like they have some logic behind. The endpoint returned from portal referenced v1 which is completely wrong - entitlementManagement is not available in v1 only in beta. So this is weird.

I tried digging into graph-explored - no success with delete operation.
Looking in our PowerShell script, we do not have the method to delete 'Acces

[2021-09-16 09:38] kaovd commented on #92
@petr-stupka Yep opening the issue would be great thanks.

If we can force new the AP that actually works out pretty well and can be a downstream implementation. Imagine the AP Resource will have a role scopes block then separate resources for catalogs, policy and resource requests.

[2021-09-16 10:00] manicminer commented on #104
Hi @amarbut24, at first I thought I remembered seeing it returned as a string, however I've tested all the currently supported endpoints and none of them have returned `@odata.count`, either with or without the `ConsistencyLevel` header in the request.

It seems reasonable to change this to a `*int`, the `*string` type may just be a holdover from earlier testing where I hadn't considered the likel

[2021-09-16 10:04] manicminer commented on #92
Just weighing in, both the portal and Azure CLI (not sure about the various pwsh modules) aren't always a great model of behavior as they hold special first-party access tokens that allow them to query undocumented endpoints. Often those endpoints are "private" or otherwise behave differently depending on whether a first-party access token or a regular token are used for authorization. This was co

[2021-09-16 19:40] amarbut24 commented on #104
Hey @manicminer

Thanks for the quick response.
I went ahead and opened this PR - https://github.com/manicminer/hamilton/pull/105

[2021-09-16 22:53] kaovd commented on #92
@manicminer was pretty much the logic I went along but just seems the graph backend isnt there yet. Not a problem though likely to have the full IDAG flow by working around downstream with as mentioned force replacmenets where needed.

[2021-09-17 09:20] manicminer commented on #16
@simongottschlag Apologies this issue has been sitting for so long with no answers. I've thought about this a few times and whilst I agree it would be useful given the right context, the way Authorizers work right now isn't very conducive to soft failing on token acquisition.

The `NewAuthorizer` func attempts to configure the most appropriate Authorizer which in turn runs the corresponding constr

[2021-09-17 12:11] simongottschlag commented on #16
Hi @manicminer!

No problem at all and I fully agree. You can close the case if you want. 😊👍

[2021-09-18 21:37] amarbut24 opened #106 "Identity Governance - Access Review Decisions Issue"
Attempting to query below API endpoint - [](https://docs.microsoft.com/en-us/graph/api/accessreviewinstancedecisionitem-get?view=graph-rest-1.0&tabs=http)

[code]

I'm running into a weird issue where some of the data is returning blank. In addition I'm getting interesting errors when attempting to debug in vscode

[code]

During the debug I've narrowed it down to the response itself - https://git

[2021-09-18 23:43] kaovd commented on #106
Possibly a case that you need to extract it our of the .value array? Get functions looking list a list. Hopefully can have a deeper look tommorow if you dont already figure it out by then

[2021-09-18 23:47] kaovd commented on #104
Just for clarity - I take it your implementing this endpoint?

[2021-09-19 01:04] amarbut24 commented on #104
Hey,

Yeah I'm attempting to implement both Access Review Definitions and Access Review Decisions.

Was hoping to open up a PR against this repo once I'm done.

Thanks,
Anthony
________________________________
From: kaovd ***@***.***>
Sent: Saturday, September 18, 2021 4:47 PM
To: manicminer/hamilton ***@***.***>
Cc: amarbut24 ***@***.***>; Mention ***@***.***>
Subject: Re: [manicminer/hamilton] I

[2021-09-19 05:03] amarbut24 commented on #106
Sorry for the wasted time here. I figured this out
Was due to me setting the type here
[code]
It should be `*ReviewedBy`

Going to go ahead and close this out

[2021-09-19 05:04] #106 closed

[2021-09-21 11:26] #104 closed

[2021-09-21 12:57] petr-stupka commented on #92
@kaovd in the meantime I've raised the question within our internal team (MVPs) if they can reach any of the MSFT product group working with MS Graph. Once I will get any feedback I will let you know.

[2021-09-30 17:27] #92 closed

[2021-10-04 09:21] petr-stupka commented on #92
@kaovd just quick update from MSFT. The current beta API is the latest implementation of API which has been ready to ship. The missing API endpoint for delete operation will be released in the future (without ETA)

[2021-10-04 09:41] kaovd commented on #92
Well suppose thats reassuring that we can just toggle 1.0 or whatever they push to when they are done. For now the way i planned it downstream should work although still few things to raise with them

[2021-10-18 18:42] marcosgm opened #116 "MSI support in Azure Cloud Shell"
Related: https://github.com/hashicorp/terraform-provider-azuread/issues/633

Hamilton's MSI authentication doesn't consider the URL formats needed to get an MSI Access Token when run inside the cloud shell.

https://docs.microsoft.com/en-us/azure/cloud-shell/msi-authorization
The URL format is http://localhost:50342/oauth2/token

In https://github.com/manicminer/hamilton/blob/main/auth/msi.go#L115

[2021-10-18 18:48] marcosgm commented on #116
[code]

[2021-10-19 17:42] djsly opened #117 "Support for Privilege Access Group"
We would like to use terraform to allow JIT groups to get conditional access, like effective / or active.

[2021-10-25 08:56] tiwood opened #118 "Add support for `claimsMappingPolicy`"
To be able to manage application claims mappings with Terraform we need to be able to use the `claimsMappingPolicy` API in `hamilton`.

## References

* https://github.com/hashicorp/terraform-provider-azuread/issues/644
* https://docs.microsoft.com/en-us/graph/api/resources/claimsmappingpolicy?view=graph-rest-1.0
* https://docs.microsoft.com/en-us/graph/api/serviceprincipal-post-claimsmappingpolic

[2021-11-03 21:39] #116 closed

[2021-11-03 21:46] manicminer commented on #116
@marcogsm Thanks for raising this, the next release of the SDK will remove a configuration check that was hindering managed identity authentication in Cloud Shell.

[2021-11-03 21:54] simongottschlag opened #121 "Support for Federated identity credential"
Hi @manicminer!

There's a quite new endpoint that would be really awesome to have support for, especially in regard to using it with the Azure AD terraform provider: https://docs.microsoft.com/en-us/graph/api/resources/federatedidentitycredentials-overview?view=graph-rest-beta

The big reason for this is to enable SSO between GitHub Actions and Azure / Azure AD: https://docs.microsoft.com/en-us/a

[2021-11-04 12:30] baywet opened #122 "Official Microsoft Graph Go SDK"
Hello everyone 👋

Vincent here from the Microsoft Graph SDKs team. I'm reaching out to announce we're working on an official Go SDK, we haven't announced the community preview yet as there are still a number of things we need to work through, but I though I'd reach out to give you an opportunity to provide feedback before anybody else!

A few benefits from this new SDK:
- Fluent style APIs to all

[2021-11-12 09:19] manicminer commented on #122
Hi @baywet, thanks for opening this issue and letting us know about work being done on the official SDK. It's great to see that one is being released, however as this is not a feature request or a bug report, I'm going to close this issue for now so that we can concentrate on our open work items.

[2021-11-12 09:19] #122 closed

[2021-12-02 22:50] manicminer commented on #117
Hi @djsly, thanks for requesting this. Whilst this repository hosts the SDK used by the TF AzureAD Provider, feature requests intended for the provider should be requested in that issue tracker.

I'm happy to leave this open as an SDK feature request but if your intention was to request for TF support, can I ask you to complete the [feature request template](https://github.com/hashicorp/terraform-

[2021-12-02 22:52] manicminer commented on #121
Hi @simongottschlag, sorry for the delay in my reply - this looks really interesting! Would you be able to request this in the AzureAD issue tracker? We'll be able to track the potential feature and it will give us a better idea of what this might look like. Thanks!

[2021-12-10 11:34] kaovd commented on #122
@baywet Relieving to know you will be supporting both v1 and beta as this has been a bit of a concern of mine especially with how much critical stuff could be considered in beta :)

[2022-01-23 20:02] simongottschlag opened #138 "Move everything using Microsofts autorest to it's own module"
Hi!

As always, love the job you are doing here! :1st_place_medal:

As per our previous dialouge, it would be quite nice if hamilton could be used without having to import Microsofts autorest library.

I see two possible ways of handling this:

**Choice 1 - new module in hamilton repo**
PROS:

- No need to switch between repositories
- Everything in the same place and easy to find
- Logical to fin

[2022-01-23 22:07] simongottschlag opened #140 "Add Azure Container Registry helper for docker credentials using hamilton"
Hi!

I am currently trying to get `cosign` to work with Azure Container Registry: https://github.com/sigstore/cosign/issues/1350

It is using the following project to get the token for ACR: https://github.com/chrismellard/docker-credential-acr-env

I would like to include a similar helper in hamilton that will be using hamilton instead of autorest.

[2022-01-24 22:18] simongottschlag commented on #140
As a reference I've started the discussion in go-containerregistry to move them to hamilton and they seem to like the idea: https://github.com/google/go-containerregistry/issues/1263

I think I'll rewrite the PR to not be a helper based on the docker interface but instead be a plain Exchange() function that takes an authorizer.

@manicminer any thoughts or ideas? 😊

[2022-01-31 19:53] computeracer commented on #118
I was taking a look at implementing support for this, but how do you suggest handling the `definition` field of a potential claims mapping policy struct?

Looking at the properties of a definition as defined in https://docs.microsoft.com/en-us/graph/api/resources/claimsmappingpolicy?view=graph-rest-1.0#properties-of-a-claims-mapping-policy-definition there are complex JSON object types. Are there

[2022-01-31 20:49] manicminer commented on #118
@computeracer In this case the policy is just sent as a string, so for a first pass I'd suggest typing this as a string. The client will have to handle building the policy, using whatever data types make sense for the use case. Similarly for unmarshaling, just treat it as a string and return the field as such. No need to validate it either, just let the API do the work.

[2022-01-31 21:27] webframp opened #146 "Method to anotate AAD tier/service required for specific objects?"
This is a really great library that was pretty easy to figure out from the logical structure of the code so far, nice work!

The testing section of the readme mentions this:

In principle I hate the idea of any kind of selective behavior for test execution, but given the pricing structure of Azure services it seems unavoidable unless every potential contributor is willing to spend $$ for the requi

[2022-01-31 21:37] manicminer commented on #146
Hi @webframp, thanks for the kind words!

At this time I don't think it's very feasible to manually annotate fields and features based on pricing - not only would it be quite some effort but it would also have to keep up with regular service changes to be useful.

I would recommend signing up to the [Microsoft 365 Developer Program](https://developer.microsoft.com/en-us/microsoft-365/dev-program),

[2022-01-31 22:10] webframp commented on #146
That's a great idea. Are you open to me adding some version of that info to the readme?

[2022-02-01 01:38] manicminer commented on #146
In my haste I added a note to the readme already, but suggestions are very welcome if there's anything you feel would be good to add :)

[2022-02-01 03:14] webframp commented on #146
Nope that looks good enough for me, I learned something new today!

[2022-02-01 03:14] #146 closed

[2022-02-03 20:56] webframp opened #149 "DirectoryObject and similar collection types"
I'm still learning a bit how everything in here is wired up, sorry if this is a beginner question. I was wondering if you could briefly explain how this is used to build the odata id url refs? Where does Uri method bound to this type get called?

[code]

Thanks!

[2022-02-03 23:24] manicminer commented on #149
Hi @webframp, at the moment that method isn't called anywhere, for now it's there as a convenience that you can call as needed from your app.

We used to look up odata IDs via the API, but unfortunately that no longer works. I'm hoping we can improve the handling of base API models like directoryObject and have things like the odata ID handled implicitly, but for now you'd have to explicitly const

[2022-02-03 23:29] webframp commented on #149
Exactly what I needed to know, thanks! I was guessing it wasn't called anywhere but wanted to confirm to make sure I wasn't missing something.

[2022-02-03 23:31] #149 closed

[2022-02-11 22:53] ekristen opened #150 "autorest.BearerAuthorization does not have `Token` method"
I'm passing an autorest.BearerAuthorization to the `wrappedAuth, err := auth.NewAutorestAuthorizerWrapper(authorizer)` method call but it returns `could not obtain access token from token provider`.

It appears it's trying to find `.Token` method and failing. The autorest.BearerAuthorization provider only has a `OAuthToken` method.

Is this a bug or am I using it incorrectly?

Thanks.

[2022-02-12 01:41] ekristen commented on #150
Changing line 47 of auth/autorest.go seems to make it work properly.

[code]

[2022-02-17 04:28] manicminer commented on #150
Hi @ekristen, thanks for reporting this and also your findings! We'll very soon be looking at tidying up the autorest wrapper and will look to incorporate this fix 👍

[2022-03-08 22:19] #118 closed

[2022-03-25 18:07] askew opened #155 "Add support for Connected Organizations in entitlement management"
There is no support for operations on [Connected Organizations][connectedOrganization] in entitlement management.

[connectedOrganization]: https://docs.microsoft.com/graph/api/resources/connectedorganization?view=graph-rest-1.0 "In Azure AD entitlement management, a connected organization is a reference to a directory or domain of another organization whose users can request access."

[2022-04-14 20:56] maxsokolovsky opened #159 "Is it possible to make msgraph.Group a hashable type?"
I see many fields on the Group struct are pointers to slices. Is this to ensure the value can be used as a key in a map?

The Group value is something that would be fit for caching. There are a few fields whose types do not allow values of type Group to be hashable for some implementations of an LRU cache. For example, `[]GroupType` and `[]GroupResourceBehaviorOption`.

Since many slice fields are

[2022-04-14 21:33] manicminer commented on #159
Hi @maxsokolovsky, thanks for the questions.

The use of pointers in the model structs is generally to play nice with Go's json marshaler. Behavioral differences between json `null`, zero values and omitting a field vary wildy between APIs and even between fields on the same object.

Some fields that are not pointer references are likely holdovers and can probably be updated. You're welcome to ope

[2022-04-15 15:03] maxsokolovsky commented on #159
@manicminer, thanks for your response! I will open a PR with those holdovers fields updated to be pointer types!

About the last part - since clients return collections of things (slices), the first returned value doesn't have to be a pointer type, and can be nil in case of an error, since the default empty value for a slice of anything is nil. Would it also be more memory-efficient to copy a `[]*

[2022-05-05 17:24] rnickmccandless opened #164 "Support for Azure's management APIs"
Are there any plans on your roadmap to add support for the endpoints of Azure's management APIs?

This would apply to the existing endpoint constant already in [`ResourceManagerPublicEndpoint ApiEndpoint = "https://management.azure.com"`](https://github.com/manicminer/hamilton/blob/main/environments/endpoints.go#L24)

We're specifically looking for the ability to [list all custom subscriber roles

[2022-05-18 16:25] ekristen commented on #150
@manicminer would you like me to open a PR on this?

[2022-05-20 21:47] ekristen opened #165 "Support OIDC Authentication for Service Principals"
It would be nice to have OIDC authentication support instead of just GitHub Tokens, which appears to be a more specific unique implementation only to GitHub that differs from Kubernetes and the "Other Issuer" for OIDC support for Service Principal Authentication

[2022-05-21 21:50] simongottschlag commented on #165
Hi @ekristen!

GitHub is just a wrapper on top of Client Credentials. You can implement OIDC using it, having GitHub as a reference.

(I'm not the maintainer for Hamilton)

[2022-05-22 21:01] #140 closed

[2022-05-22 21:01] #138 closed

[2022-05-23 14:48] ekristen commented on #165
I'm looking at contributing and I agree, the main reason for opening this is that it's being use in conjunction with Terraform Azure RM and that just gained "OIDC" support except it's not really OIDC, it's the GitHub Wrapped OIDC which means you can't actually use OIDC with it.

Currently I'm using OIDC with Hamilton, but I have to write my own, then wrap it in autorest and then wrap it in Hamilto

[2022-05-23 15:46] tombuildsstuff commented on #165
@ekristen whilst OIDC from other providers _should_ work using the exposed fields (token & URI) - they're untested and unfortunately aren't something we can (officially) support due to how implementations may differ across different OIDC providers - but they _should_ work providing they're compatible with GitHub OIDC.

[2022-05-23 19:09] ekristen commented on #165
@tombuildsstuff a generic OIDC validator would be as simple as allowing someone to provide a JWT token.

Assuming we are on the same page, the GitHub OIDC here is and isn't OIDC. The GitHub implementation should be called GitHub Actions or GitHub Token authentication as the only way it works is by running in GitHub Actions.

It assumes the `idTokenRequestUrl` is a special endpoint that GitHub host

[2022-05-23 19:18] ekristen commented on #165
🤦 I re-read and re-looked at the code, you are saying `ClientCredentialsConfig` can be used to authenticate with federated authentication, so the real issue is with how Terraform Azure Provider is implementing this and not a missing feature here.

[2022-05-23 19:18] #165 closed

[2022-05-23 19:19] ekristen commented on #165
Thanks for your time @tombuildsstuff @simongottschlag

[2022-05-30 08:10] manicminer commented on #164
Hi @rnickmccandless, thanks for the question! At this time we are not planning any API support outside of MS Graph and the authentication endpoints. This _might_ change in terms of data plane APIs specifically for Azure Active Directory or Microsoft 365 services, but the Service Management API is definitely out of scope as there are existing viable SDKs.

In the meantime I would encourage you to l

[2022-05-30 08:10] #164 closed

[2022-05-30 08:23] manicminer commented on #150
Hi @ekristen, thanks, a PR would be very much appreciated! 👍

[2022-05-31 02:25] ekristen commented on #165
Correct, and I've ended up writing my own as a workaround, but it's an ugly hack. I set the JWT to the REQUEST_TOKEN and REQUEST_URL to my hack API that takes the authorization grabs the JWT and returns it in the format expected. While this works, it's not practical for most.

[2022-07-15 18:59] rikkuness opened #168 "Add support for JSON batching"
It would be really awesome if we could add support for JSON batch requests https://docs.microsoft.com/en-us/graph/json-batching.

Although I'm really not sure the best way to cleanly integrate it here especially if batching multiple different request types and then mapping the responses appropriately. I don't mind having a poke around to see if it's possible given a consensus it would be a benefic

[2022-07-18 10:14] manicminer commented on #168
Hi @rikkuness, thanks for requesting. Whilst this isn't something I can work on as a priority, I'd be open to adding it if you'd like to try out some potential implementations. You've highlighted the challenges, perhaps as a first pass, batching requests on the same object type would be a simpler place to start.

[2022-07-20 18:57] blheatwole opened #169 "Support Additional Azure Environments"
[EnvironmentFromString](https://github.com/manicminer/hamilton/blob/82c4c5a2f374f826d0c49b0a839bebbe5009d49c/environments/environments.go#L103) hardcodes a list of supported environments. The Hashicorp Terraform Provider for AzureRM makes use of EnvironmentFromString [here](https://github.com/hashicorp/terraform-provider-azurerm/blob/852010ec4bf8fcf32e00051138de124032f6022f/internal/clients/builde

[2022-07-21 09:02] manicminer commented on #169
Hi @blheatwole, thanks for requesting. We have actually previously implemented a function to look up the MS Graph URL from an ARM metadata service - however to my knowledge MS Graph endpoints are still not published this way, making it impossible for us to support private/custom clouds.

I'm happy to leave this issue open to track this, although it is blocked at present until someone can demonstra

[2022-07-21 13:20] blheatwole commented on #169
Running `curl https://management.azure.com/metadata/endpoints?api-version=latest` returns the following JSON:
[code]

Does the "graph" entry not have the correct endpoint? I note in some other environments that there is also a "microsoftGraphResourceId" field that contains the same URL as the "graph" field.

[2022-07-21 13:34] manicminer commented on #169
Unfortunately all those "graph" endpoints are for the legacy [AAD Graph API](https://graph.windows.net) and not [Microsoft Graph](https://graph.microsoft.com). These are totally different API services.

[2022-08-15 17:59] mblaschke opened #170 "msgraph.NewDirectoryObjectsClient().GetByIds() should provide more information in DirectoryObject"
currently `NewDirectoryObjectsClient().GetByIds()` only provides following information:

[code]

would be good to have more information about the objects which is available in the response from MsGraph REST API, eg `displayName`, `appId`, `alternativeNames`, ...

or make provide a possible way to supply own struct here or only provide an dynamic interface here (to dynamically fetch data)

[2022-08-24 11:31] blheatwole commented on #169
Microsoft is working on updating the output of the `metadata/endpoints` api to include the Microsoft Graph endpoints. As soon as I get a sample of the new output, I will share that so that you can confirm whether it is useful to solve the issue.

[2022-08-25 13:30] blheatwole commented on #169
I've gotten two different sample outputs. The first had a new key for Microsoft Graph:
[code]

In the second, the 'graph' key was updated from AAD to Microsoft Graph
[code]

I'm not sure which of these they will eventually settle on. This update is currently planned to hit all clouds in less than two months, but that date could change.

At the point where they do release this, you should be able t

[2022-08-25 14:16] manicminer commented on #169
Thanks @blheatwole, it's good to know this is planned! Once this hits the major public clouds and/or we get confirmation this is stable in private clouds, we'll be able to support this fairly quickly and easily.

[2022-09-02 08:14] mblaschke commented on #150
could this fix also your issue?
https://github.com/manicminer/hamilton-autorest/pull/4

[2022-09-14 13:52] mathiaac opened #176 "add OData cast to OData query."
Would it be possible (or is there already a way to do it?) to add casting as part of constructing the OData query, as per example 3 and 4 from the official docs?  https://docs.microsoft.com/en-us/graph/api/group-list-members?view=graph-rest-1.0&tabs=http

Because if I now for instance want to list all users that are members of a group I have to list all members, iterate through them and calling ge

[2022-09-14 20:21] manicminer commented on #176
@mathiaac Thanks for the compliment, and the suggestion. We'll definitely look into supporting this.

[2022-09-15 07:06] mathiaac commented on #176
@manicminer Thanks! Do you have a rough estimation of when that feature potentially will be in place?

[2022-09-15 08:15] manicminer commented on #176
We're working on a pretty big refactor at the moment that will make this sort of change much easier, so I hesitate to give an estimate however it's not something I have time for right now. PRs always welcome in the meantime however, even if for an reference/interim implementation :)

[2022-09-20 13:08] mathiaac opened #177 "Struggling to get the msi authorizer to work"
Hi, I'm having some issues with getting the msi authorizer to work. I'm kinda new to azure so might be something I'm not getting, but I'm getting this error when calling the groups client:

GroupsClient.BaseClient.Get(): MsiAuthorizer: failed to request token from metadata endpoint: Get "http://169.254.169.254/metadata/identity/oauth2/token?api-version=2018-02-01&resource=https%3A%2F%2Fgraph.micro

[2022-09-21 07:05] ms-henglu opened #178 "Support Synapse in USGovernmentCloud"
https://github.com/Azure/go-autorest/pull/694/files#diff-437322bedb37a3dc348a9e44ce5262969068ccbfacc345bf11c0c5cea7ddb9cdR183

It seems synapse api is available in USGovernmentCloud

[2022-09-26 14:02] rikkuness opened #180 "Support OData query on appRoleAssignments list"
The `List` method on appRoleAssignments is missing the ability to specify OData query parameters. This should be supported according to the docs:
https://learn.microsoft.com/en-us/graph/api/group-list-approleassignments
https://learn.microsoft.com/en-us/graph/api/serviceprincipal-list-approleassignments
https://learn.microsoft.com/en-us/graph/api/user-list-approleassignments

[2022-09-29 08:45] #159 closed

[2022-09-29 08:54] #170 closed

[2022-09-29 10:07] #180 closed

[2022-10-07 09:38] stanleyz opened #188 "Consider using beta version of API for accessPackage"
The beta version returns more info than the v1.0 version, including the important `catalogId`, see below screenshots.

https://github.com/manicminer/hamilton/blob/74bfde92f0e8bc7ff08e94e45735f18baa3c80ee/msgraph/accesspackage.go#L20

<img width="1211" alt="Screen Shot 2022-10-07 at 10 36 27 PM" src="https://user-images.githubusercontent.com/1937584/194523587-a255b346-f0c4-426f-b9e8-b52ee6e354d2.pn

[2022-10-09 21:14] thomas11 opened #189 "azcli auth doesn't support MSAL scopes"
Currently, in `AzureCliAuthorizer.Token()`, the arguments to `az` are hard-coded as

[code]

This is correct for ADAL and also works for MSAL as long as you need the default scope of Resource Manager. However, for a different scope like KeyVault, the arguments should instead be

[code]

Note the [MSAL-style (OAuth v2)](https://learn.microsoft.com/en-us/azure/active-directory/develop/msal-acquire-c

[2022-10-11 18:47] thomas11 commented on #189
Related question - @manicminer , does contributing to this repo require a CLA?

[2022-10-13 23:05] manicminer commented on #188
@stanleyz THanks for the feature request. Whilst we typically default to v1.0 APIs, this can be overriden when using the SDK, for example:

[code]

It's unlikely we'll change the default version, since it's possible for the user to override this whenever instantiating a client. Thanks!

[2022-10-13 23:05] #188 closed

[2022-10-14 02:09] #178 closed

[2022-10-18 08:16] deese opened #192 "Support for Continuous Access Evaluation (CAE) in conditional access session"
Hi!
Do you plan to  support CAE in the ConditionalAccessSessionControls model?

https://learn.microsoft.com/en-us/graph/api/resources/conditionalaccesssessioncontrols?view=graph-rest-beta

Thanks in advance!

KR,

-J

[2022-10-20 08:15] manicminer commented on #177
Hi @mathiaac, the message you are getting indicates the metadata service is not reachable from your pod. Since you are running in Kubernetes, I believe you will need to enable [workload identity](https://learn.microsoft.com/en-us/azure/aks/workload-identity-overview) / [pod identities](https://learn.microsoft.com/en-us/azure/aks/use-azure-ad-pod-identity).

[2022-10-20 08:15] #177 closed

[2022-11-08 10:28] darrenparkinson opened #195 "Support for Chat Resource"
Hi,

Is it possible to add support for the [chat resource](https://learn.microsoft.com/en-us/graph/api/resources/chat?view=graph-rest-1.0) at all?

I'm able to get the data I need using `msgraph.NewClient` and providing an `msgraph.GetHttpRequestInput` with the relevant entity for now, but built in support would be awesome.

Many thanks,
D.

[2022-11-08 21:01] blheatwole commented on #169
This change is currently being rolled out. Not all regions have it yet, but some do. You can test against this one already: https://eastus2euap.management.azure.com/metadata/endpoints?api-version=2022-09-01

Thanks!

[2022-11-17 09:43] manicminer commented on #169
@blheatwole Great stuff, thanks for the headsup!

[2022-11-29 07:10] tomasmota opened #196 "Group writebackConfiguration"
Hi, I have noticed that writebackConfiguration is not currently supported, is there a special reason for that? Is there another way to achieve that?

As far as I understand, all it requires is adding this to the group creation payload:
[code]

If there is no reason for this to not be there, I can make a PR for it

[2022-11-29 09:23] manicminer commented on #196
Hi @tomasmota, thanks for raising this. PRs are welcome if you'd like to have a go at adding this :)

[2022-11-30 11:42] #196 closed